__pycache__/
.idea/
.venv/
.virtualenv/
*.py[cod]
*.mo
*.pot
*.egg
*.egg-info
*.manifest
*.log
*.spec
.DS_Store
.installed.cfg
.env
.cache
.coverage
.python-version
.vscode

requirements.dev.*
nosetests.xml
coverage.xml
docker-compose.*.override.yml
pip-delete-this-directory.txt
pip-selfcheck.json
pip-log.txt

/bin/activate
/bin/deactivate
/parts/
/htmlcov/
/develop-eggs/
/man/
/eggs/
/downloads/
/lib/
/lib64/
/build/
/dist/
/sdist/
/target/
/docs/_build/
/include/
/public/
/node_modules/
/src/

celerybeat-schedule*
.celerybeat

terraform.tfvars
terraform.tfstate.backup

webpack-stats.json

